form{
    border: 1px solid black;
    text-align: center;
    height: 200px;
    width: 250px;
    margin-left: 600px;
    margin-top: 20px;
    background-color: aqua;
}






input{
    margin-top: 20px;
    border-radius: 50px;
    text-align: center
}