img{
    width: 250px;
    height:300px;
    border: 1px solid blue;
    padding: 10px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 10px 10px 15px blue;
    transition: all 1s;
}
img:hover{
    transform: scale(1.1,1.1);/*scale is used for zomming purpose*/
}