<div class="container">
    <div class="row">
        
                <div class="col-md-12">
                        <app-form1></app-form1>
                                </div>
                                <div class="col-md-12">
                                    <app-form2></app-form2>
                                    </div>
                
        <div class="col-md-12">
                       <app-form3></app-form3>             
            </div>
                <div class="col-md-12">
                    <app-form4></app-form4>
                    </div>
    </div>
</div>